/* carousel*/


.carousel {
    margin: 9em auto 3.2em;


}

.carousel-item {
    height: 34em;
}

#mobilePic {
    display: none;
    width: 100%;
}

.carousel-caption {
    h5 {
        text-shadow: -1px -1px 0 #fff,
            2px -2px 0 #fff,
            -2px 2px 0 #fff,
            2px 2px 0 #fff;
        font-family: 'Henny Penny';
        color: #000;
        font-size: 3rem;
    }

    p {
        color: #fff;
        font-size: 1.5em;
        text-shadow: -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        font-family: 'Roboto';
    }




}

//media queries

//mobile
@media(max-width:599px) {
    .carousel {
        display: none;
    }

    #mobilePic {
        display: block;
        margin: 0.7em 0;

        img {
            width: 100%;
            height: 9em;
        }


    }



}


//tablet
@media(min-width: 600px) and (max-width:900px) {
    .carousel {
        display: none;
    }

    #mobilePic {
        display: block;
        margin: 0.8em 0;

        img {
            width: 100%;
            height: 16em;
        }


    }
}

//tablet landscape
@media(min-width:901px) and (max-width:1199px) {
    .carousel {
        margin-top: 5em;
    }

    .carousel-item {
        height: 19em;
    }

    .carousel-caption {
        h5 {
            font-size: 2em;
        }

        p {
            font-size: 1.5em;
        }
    }
}

//leptop
@media(min-width:1200px) and (max-width:1799px) {
    .carousel {
        margin-top: 6em;
    }

    .carousel-item {
        height: 24em;
    }
}