/* fonts*/
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Pattaya';
    src: url(../fonts/Pattaya-Regular.ttf);
}

@font-face {
    font-family: 'Henny Penny';
    src: url(../fonts/HennyPenny-Regular.ttf);
}