#triviaForm {
    width: 50%;
    margin: 100px auto;
    background-color: #e0e0e0;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid #a0a0a0;


    hr {
        width: 100%;

        &:nth-child(2) {
            width: 50%;
        }
    }

    label {
        font-family: 'Roboto';
    }

    h2 {
        font-size: 4rem;
        text-align: center;
    }

    h3 {
        font-size: 2.7rem;
    }

    h4 {
        font-size: 2.3rem;
    }

    label {
        font-size: 1rem;
    }

    input[type='radio'] {
        width: 1.2rem;
        height: 1.2rem;
    }

    input[type='submit'] {
        text-align: center;
        display: block;
        font-size: 1.8rem;
        background-color: #B20000;
        color: #fff;
        border-radius: 5px;
        margin: 20px auto;
        cursor: pointer;
        border: 0;

        &:hover {
            background-color: #b24444;
        }
    }

    .qusCon {
        display: block;
    }

    #answerCounter {
        font-size: 3rem;
        text-align: center;
        color: #dbbf31;
        font-family: 'Roboto';
    }
}

//mobile
@media(max-width:599px) {
    #triviaForm {
        width: 85%;

        h2 {
            font-size: 2.3rem;
        }

        h3 {
            font-size: 2rem;
        }

        h4 {
            font-size: 1.6rem;
        }

        label {
            font-size: 0.9rem;
        }

        input[type="radio"] {
            width: 0.8rem;
            height: 0.8rem;
        }

        input[type='submit'] {
            font-size: 1rem;
        }

        #answerCounter {
            font-size: 1rem;
        }
    }
}

//tablet
@media(min-width: 600px) and (max-width:900px) {
    #triviaForm {
        width: 85%;

        h2 {
            font-size: 2.7rem;
        }

        h3 {
            font-size: 2.4rem;
        }

        h4 {
            font-size: 1.7rem;
        }

        label {
            font-size: 1rem;
        }

        input[type="radio"] {
            width: 0.8rem;
            height: 0.8rem;
        }

        input[type='submit'] {
            font-size: 1.2rem;
        }

        #answerCounter {
            font-size: 1.2rem;
        }
    }
}

//tablet landscape
@media(min-width:901px) and (max-width:1199px) {
    #triviaForm {

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2.6rem;
        }

        h4 {
            font-size: 1.7rem;
        }

        label {
            font-size: 1rem;
        }

        input[type="radio"] {
            width: 0.8rem;
            height: 0.8rem;
        }

        input[type='submit'] {
            font-size: 1.3rem;
        }

        #answerCounter {
            font-size: 1.3rem;
        }
    }
}

//leptop
@media(min-width:1200px) and (max-width:1799px) {
    #triviaForm {

        h2 {
            font-size: 3.4rem;
        }

        h3 {
            font-size: 2.8rem;
        }

        h4 {
            font-size: 2rem;
        }

        label {
            font-size: 1rem;
        }

        input[type="radio"] {
            width: 1rem;
            height: 1rem;
        }

        input[type='submit'] {
            font-size: 1.7rem;
        }

        #answerCounter {
            font-size: 1.7rem;
        }
    }
}